#main-header {
    font-size: 1.5em;
}
#introduction-text {
    font-size: 1em;
}

.about-header {
    font-size: 1em;
}

.about-text {
    font-size: 0.6em;
}

.projects-section-header {
    font-size: 1em;
}

h4 {
    font-size: 1em;
}

h2 {
    font-size: 1em;
}

h3 {
    font-size: 0.8em;
}