* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

#mainpage {
    background-image: linear-gradient(90deg, #58C0C2, white);
    background-repeat: no-repeat;
    height: auto;
    width: auto;
}

#main-header {
    margin: 0;
    border: 0;
    padding: 0;
    border: 0;
}

.header-background {
    height: 100vh;
    display: flex;
    align-items: center;
    background-image: url(/danjwilko.guthub.io/BEEYOND-FITNESS-PROJECT/Images/couple_fitness.jpg);
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.6);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin: 30px 5px 5px 5px;
    z-index: -1;
}

#logo-container {
    margin-top: 250px;
    max-width: none;
    padding-left: 20px !important;
    padding-right: 20px !important;
    box-sizing: border-box;
}

.logo-img {
    background-image: url(/Users/daniel/Downloads/attachments/Images/400dpiLogo.png);
    margin: 0 auto 0px auto;
    width: 1000px;
    height: 600px;
    background-size: 1000px 600px;
    background-position: center;
    display: block;
    z-index: 5;
}

#navbar {
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 50px;
    background-image: linear-gradient(90deg, #58C0C2, white);
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 -2px 20px;
}
#navbar-list {
    height: 50px;
    display: inline;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.navbar-link {
    font-family: "Rubik", sans-serif;
    text-decoration: none;
    font-size: 20px;
    color: rgb(185, 129, 44);
    display: block;
    padding: 5px;
    border: 4px solid transparent;
    border-radius: 3px;
}

li {
    list-style-type: none;
}


/* Hover over link animation */

.navbar-link:hover {
    transition: border-bottom 0.5s;
    border-bottom: 4px solid #00d5ff;
}

#about-section {
    height: 100vh fit-content;
    display: flex;
    flex-direction: row;
    width: auto;
    margin: 0 5px 0 5px;
    z-index: -50;
}
#About-us-title{
    font-family: sans-serif;
    color: rgb(185, 129, 44);
    position: top;
    text-align: center;
    font-weight: 200;
    padding: 15px 5px;

}
#about-us {
    z-index: -50;
}

.about-us-text {
    line-height: 1em;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 10px;
    background-color: white;
    border-radius: 50px;
    border: solid transparent;
    padding: 30px;
    font-family: sans-serif;
    font-size: 18px;
    text-align: left;
    box-shadow: 0 -2px 10px;
    margin-bottom: 10px;
}

#meet-the-team {
    margin-top: 10px;
    width: auto;
    display: flex;
    flex-direction: column;
    height: 200px;
    z-index: -10;
    justify-items: center;
}
#Team {
    font-family: sans-serif;
    color: rgb(185, 129, 44);
    position: top;
    text-align: center;
    font-weight: 200;
    padding: 10px;
}
#Image-container {
    display: flex;
    flex-direction: row;
    align-content: center;
}
.member1 {
    display: flex;
    flex-direction: row;
    width: auto;
    height: 200px;
    margin: 10px 20px 5px 20px;
    border-radius: 20%;
    box-shadow: 0 -2px 10px;
}

.member2 {
    display: flex;
    flex-direction: row;
    width: auto;
    height: 200px;
    margin: 10px 20px 5px 20px;
    border-radius: 20%;
    box-shadow: 0 -2px 10px;
}

.member3 {
    display: flex;
    flex-direction: row;
    width: auto;
    height: 200px;
    margin: 10px 20px 5px 20px;
    border-radius: 20%;
    box-shadow: 0 -2px 10px;
}

.img-caption {
    font-family: sans-serif;
    font-size: 18px;
    color: rgb(185, 129, 44);
    text-align: center;
    font-weight: 600;
}
.wrapper{
    z-index: -999;
    display: relative;
    background-image: linear-gradient(90deg, #1b252f , white);
    padding: 2em;
    border-top: 20px solid rgb(185, 129, 44);
    border-bottom: 10px solid rgb(185, 129, 44);
}
.container {
    height: 100vh;
    display: flex;
    flex-direction: row;
    width: auto;
    margin: 0 5px 0 5px;
    z-index: -50;   
}
.wrapper2 {
    z-index: -999;
    display: relative;
    background-color: #1b252f;
    padding: 2em;
    border-top: 20px solid rgb(185, 129, 44);
    border-bottom: 10px solid rgb(185, 129, 44);
}
.container2 {
    width: 90%;
    margin: 0 auto;
}

.logo{
    padding: 2em 0;
  background-image: url(/Users/daniel/Downloads/attachments/Images/SmallLogo.png);
  background-repeat: no-repeat;
  margin: 0 auto 0px auto;
  width: 1000px;
  height: 200px;
  background-size: 250px 150px;
  background-position: center;
  display: block;
  z-index: 50;
}

.content {
    max-width: 70%;
    margin: 0 auto;
    text-align: center;
}

.social_icons {
    font-family: fontawesome;
    text-align: center;
    padding: 2em 0;
}

.social_icons a{
    font-family: fontawesome;
    color: #fff;
    margin: 0 10px;
    font-size: 18px;
}

.contact_info {
    text-align: center;
    padding-bottom: 2em;
}

.contact_info a{
text-decoration: none;
color: #ffde01;
font-size: 14px;
font-style: italic;
margin: 0px 20px;

}
.contact_info a i{
    margin: 0 25px;
    color: #fff;
}
.form-wrapper {
    padding: 10px;
    background-color: #58C0C2;
    border-radius: 20px;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2.5em 6em;
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.form-wrapper .form-text {
    text-align: left;
    color: #fff;
    font-size: 16px;
    font-style: italic;
    text-transform: capitalize;
}
.form-wrapper .form-text h2{
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;

}
.fields form input{
    outline: none;
    background-color: transparent;
    border: 1px solid #fff;
    padding-left: 10px;
    margin: 0 10px;
    color: #fff;
    height: 45px;
    vertical-align: middle;
}
.fields form input::placeholder{
    color: rgba(255,255,255,0.5);
    font-style: italic;
}

.fields button{ 
    border: none;
    outline: none;
    background-color: rgb(185, 129, 44);
    padding: 0 2em;
    font-weight: bold;
    color: #5804fa;
    font-size: 16px;
    text-transform: capitalize;
    font-style: italic;
    line-height: 0;
    margin-left: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    height: 45px;
    vertical-align: center;
    cursor: pointer;
}
.copyright{
    margin: 0 auto;
    text-align: center;
    color: #fff;
    font-size: 14px;
    font-style: italic;
    padding: 4em;
}
#textbox {
width: 100%;
padding: 12px;
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
margin-top: 6px;
margin-bottom: 16px;
resize: vertical;
}
/* Popup box BEGIN */
.hover_bkgr_fricc{
    margin-left: -322px;
    background:rgba(0,0,0,.4);
    cursor:pointer;
    display:none;
    height:100%;
    position:fixed;
    text-align:center;
    top:0;
    width:100%;
    z-index:10000;
}
.hover_bkgr_fricc .helper{
    display:inline-block;
    height:100%;
    vertical-align:middle;
}
.hover_bkgr_fricc > div {
    background-color: #fff;
    box-shadow: 10px 10px 60px #58C0C2;
    display: inline-block;
    height: auto;
    max-width: 551px;
    min-height: 100px;
    vertical-align: middle;
    width: 60%;
    position: relative;
    border-radius: 8px;
    padding: 15px 5%;
}
.popupCloseButton {
    background-color: #fff;
    border: 3px solid #999;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    position: absolute;
    top: -20px;
    right: -20px;
    font-size: 25px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
}
.popupCloseButton:hover {
    background-color: #ccc;
}
.trigger_popup_fricc {
    cursor: pointer;
    font-size: 20px;
    margin: 20px;
    display: inline-block;
    font-weight: bold;
}
/* Popup box BEGIN */
