@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
    color: #333;
    line-height: 1.6;
}
p {
    margin: 10px;
}

#mainpage {
    background-image: linear-gradient(90deg, #58C0C2, white);
    background-repeat: no-repeat;
    height: auto;
    width: auto;

}

#main-header {
    margin: 0;
    border: 0;
    padding: 0;
    border: 0;
}

.header-background {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(https://github.com/danjwilko/danjwilko.github.io/blob/master/BEEYOND-FITNESS-PROJECT/Images/couple_fitness.jpg?raw=true);
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0,0.6);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 5px 5px 5px 5px;
    z-index: -1;
    max-width: 100%;
    position: relative;

}
#The-Team {
    align-items: center;
    display: flex;
    flex-direction: column;
    border-top: 20px solid rgb(185, 129, 44);
    z-index: -999;
}

.team-header {
    padding: 25px 0 50px 0;
}
#Reviews {
    background-color: #1b252f;
    border-top: 20px solid rgb(185, 129, 44);
    z-index: -999;
    padding-bottom: 50px;
}

.review-header {
    color: white;
    text-align: center;
    padding: 25px 0 20px 0;
}
.quotes {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    color: white;
    text-shadow: 1px 0.5px gold;
    padding: 25px;
}

.profile {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 20px;
}
#logo-container {
    margin-top:250px;
    position: relative;
    display: block;
    box-sizing: border-box;
    height: 80%;
    width: 80%;
}

.logo-img {
    /* Online image */ 
    background-image:url(https://github.com/danjwilko/danjwilko.github.io/blob/master/BEEYOND-FITNESS-PROJECT/Images/400dpiLogo.png?raw=true);
    background-size: 1000px 600px;
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    max-width: 100%;
    position: relative;
   
}
@media(max-width: 1200px) {
    .logo-img {
    background-size: 900px 550px;
    }
}
@media(max-width: 1000px) {
    .logo-img {
        background-size: 650px 400px;
    }
}

#navbar {
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 50px;
    background-image: linear-gradient(90deg, #58C0C2, white);
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 -2px 20px;
}
.navbar-list {
    height: 50px;
    display: inline;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
}

.navbar-link {
    font-family: "Rubik", sans-serif;
    text-decoration: none;
    font-size: 20px;
    color: rgb(185, 129, 44);
    display: block;
    padding: 5px;
    border: 4px solid transparent;
    border-radius: 3px;
    padding: 0 0.5rem 0 0.5rem;
    margin: 0 0.5rem 0 0.5rem;
}

li {
    list-style-type: none;
}


/* Hover over link animation */

.navbar-link:hover {
    transition: border-bottom 0.5s;
    border-bottom: 4px solid #00d5ff;
    cursor: pointer;
    justify-content: center;
}


.wrapper{
    background-color: white;
    border-top: 20px solid rgb(185, 129, 44);
    z-index: -999;
}
.wrapper {
    position: relative;
    width: auto;
}
/* Icons */

.icons  {
    padding: 30px;
}

.icons h3 {
    font-weight: bold;
    margin-bottom: 15px;
    font-size: 2em;
}

.icons i {
    color: #58C0C2; 
    background-color: rgb(185, 129, 44);
    padding: 1rem;
    border-radius: 50%;
    margin-bottom: 15px;
}
.flex-items {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    margin: 0px 50px 0px 50px;
}
.container {
    height: 100vh;
    display: flex;
    flex-direction: row;
    width: auto;
    margin: 0 5px 0 5px;   
}
.wrapper2 {
    z-index: -999;
    display: relative;
    background-color: #1b252f;
    padding: 2em;
    border-top: 20px solid rgb(185, 129, 44);
}
.container2 {
    width: 90%;
    margin: 0 auto;
    justify-content: center;
}

.logo{
    padding: 5em 0;
  background-image: url(https://github.com/danjwilko/danjwilko.github.io/blob/master/BEEYOND-FITNESS-PROJECT/Images/SmallLogo.png?raw=true);
  background-repeat: no-repeat;
  margin: 0 auto 0px auto;
  background-size: 300px 200px;
  background-position: center;
  display: block;
  z-index: 50;
}

.content {
    max-width: 60%;
    margin: 0 auto;
    text-align: center;
}

.social_icons {
    font-family: fontawesome;
    text-align: center;
    padding: 2em 0;
}

.social_icons a{
    font-family: fontawesome;
    color: #fff;
    margin: 0 10px;
    font-size: 23px;
}

.contact_info {
    text-align: center;
    padding-bottom: 2em;
    line-height: 1.6rem;
}

.contact_info a{
text-decoration: none;
color: #ffde01;
font-size: 16px;
font-style: italic;
margin: 0px 20px;

}
.contact_info a i{
    margin: 0px 25px;
    color: #fff;
}
.form-wrapper {
    padding: 10px;
    background-color: #58C0C2;
    border-radius: 20px;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2.5em 6em;
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.form-wrapper .form-text {
    text-align: center;
    color: rgb(29, 8, 148);
    font-size: 18px;
}
.form-wrapper .form-text h3{
    margin: 20px; 
    text-align: center;
    font-size: 25px;
    text-shadow: 1px 1px 1px black;

}
.fields form input{
    outline: none;
    background-color: white;
    border: 2px solid #58C0C2;
    border-radius: 5px;
    padding-left: 10px;
    margin: 0 10px;
    color: #5804fa;
    height: 45px;
    vertical-align: middle;
    margin: 3px;
}
.fields form input::placeholder{
    color: rgba(13, 5, 126, 0.5);
    font-style: italic;
}

.fields button{ 
    border: none;
    outline: none;
    background-color: rgb(185, 129, 44);
    padding: 0 2em;
    font-weight: bold;
    color: #5804fa;
    font-size: 16px;
    text-transform: capitalize;
    font-style: italic;
    line-height: 0;
    margin-left: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    height: 45px;
    vertical-align: center;
    cursor: pointer;
}
.copyright{
    margin: 0 auto;
    text-align: center;
    color: #fff;
    font-size: 14px;
    font-style: italic;
    padding: 4em;
}
#message {
width: 100%;
padding: 12px;
border: 1px solid #ccc;
border-radius: 5px;
box-sizing: border-box;
margin-top: 6px;
margin-bottom: 16px;
resize: vertical;
}
.my-1 {
    padding: 20px;
}
.btn {
    display: inline-block;
    color: #fff;
    background: #93cb52;
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 5px;
  }
  
  .btn:hover {
    background: gold;
/* Popup box BEGIN */
/*.hover_bkgr_fricc{
    margin-left: -322px;
    background:rgba(0,0,0,.4);
    cursor:pointer;
    display:none;
    height:100%;
    position:fixed;
    text-align:center;
    top:0;
    width:100%;
    z-index:10000;
}
.hover_bkgr_fricc .helper{
    display:inline-block;
    height:100%;
    vertical-align:middle;
}
.hover_bkgr_fricc > div {
    background-color: #fff;
    box-shadow: 10px 10px 60px #58C0C2;
    display: inline-block;
    height: auto;
    max-width: 551px;
    min-height: 100px;
    vertical-align: middle;
    width: 60%;
    position: relative;
    border-radius: 8px;
    padding: 15px 5%;
}
.popupCloseButton {
    background-color: #fff;
    border: 3px solid #999;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    position: absolute;
    top: -20px;
    right: -20px;
    font-size: 25px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
}
.popupCloseButton:hover {
    background-color: #ccc;
}
.trigger_popup_fricc {
    cursor: pointer;
    font-size: 20px;
    margin: 20px;
    display: inline-block;
    font-weight: bold;
}
/* Popup box BEGIN */